/*nav-item, active {*/
  /*background-color: gray !important;*/
/*}*/

/*.header-row {*/
  /*color: black;*/
/*}*/

.header-row > .btn {
}

.navbar-row, nav {
}

nav ul li a {
  color: black;
}


.active {
  font-weight: bold;
  border-bottom: #e7e514 solid 3px !important;
}
