<!--The content below is only a placeholder and can be replaced.-->

<div style="display: flex; flex-direction: column; height: 100vh">
  <header class="navbar navbar-expand-lg">
    <img src="assets/images/MakerspaceLogo.png" style="width: 100px; margin-right: 15px" (click)="showNavMenu = !showNavMenu">
    <h1>Sign On Administration Portal</h1>

    <button class="btn ml-auto" type="submit">
      <i class="fa fa-user-circle"></i>
      --current user--
    </button>
  </header>

  <mat-sidenav-container style="height: 100%">

    <mat-sidenav mode="side" [opened]="showNavMenu">
      <nav class="navbar navbar-expand-lg navbar-light bg-light align-top">
        <ul class="nav flex-column navbar-ac">
          <li class="nav-item active">
            <a class="nav-link" routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/members">Members</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/visits">Visits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/reports">Reports</a>
          </li>
        </ul>
      </nav>
    </mat-sidenav>


    <mat-sidenav-content style="padding: 50px">
      <router-outlet></router-outlet>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>
